
@import '~@/assets/stylus/border.styl'

@font-face
  font-family: 'iconfont-nav'
  src url('~@/assets/icons/iconfont-nav.woff') format('woff'),
      url('~@/assets/icons/iconfont-nav.ttf') format('truetype')

@font-face
  font-family: 'iconfont-search'
  src url('~@/assets/icons/iconfont-search.woff') format('woff'),
      url('~@/assets/icons/iconfont-search.ttf') format('truetype')

.iconfont-nav{
  font-family: 'iconfont-nav';
}

.iconfont-nav-move::before {
  content: '\e8ae';
}
.iconfont-nav-cinema::before {
  content: '\e8c0';
}
.iconfont-nav-isme::before {
  content: '\e60e';
}
